<div class="card-view-demo">
    <ul class="card-view card-hover">
        <li class="card  bottom outline">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>Account Summary</strong>
                        <p class="m-b-nil">73a90acaae2b1ccc0e969709665bc62f</p>
                        <small>Jul 14, 2013</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-ascend"></i> 3000</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>Awards this year</strong>
                        <p class="m-b-nil">73a90acaae2b1ccc0e969709665bc62f</p>
                        <small>Jul 16, 2013</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil"><i class="hpe-icon hpe-descend"></i> 5000</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>Reedeemed this year</strong>
                        <p class="m-b-nil">73a90acaae2b1ccc0e969709665bc62f</p>
                        <small>Jul 18, 2013</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-ascend"></i> 2000</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>Reedeemed this year</strong>
                        <p class="m-b-nil">73a90acaae2b1ccc0e969709665bc62f</p>
                        <small>Jul 18, 2013</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-ascend"></i> 2000</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>Reedeemed this year</strong>
                        <p class="m-b-nil">73a90acaae2b1ccc0e969709665bc62f</p>
                        <small>Jul 18, 2013</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-ascend"></i> 2000</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>Reedeemed this year</strong>
                        <p class="m-b-nil">73a90acaae2b1ccc0e969709665bc62f</p>
                        <small>Jul 18, 2013</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-ascend"></i> 2000</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>