<div class="card-view-demo">
    <ul class="card-view card-hover">
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        <strong>Recognized by Shibu</strong>
                        <p class="m-b-nil">Your ability to listen to others’ ideas with concern and an open mind creates an environment of mutual respect where relationships flourish.</p>
                        <small>Jul 14, 2018</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-add"></i> 3000 MP</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        <strong>Recognized by Madhu</strong>
                        <p class="m-b-nil">When others were ready to admit failure, you steadfastly persisted. By refusing to fail, you contributed to the eventual success.</p>
                        <small>Jul 16, 2018</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil"><i class="hpe-icon hpe-add"></i> 5000 MP</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class=" col-sm-8 col-xs-8">
                        <strong>Recognized by Kartik</strong>
                        <p class="m-b-nil">When others rush headlong into new undertakings, you remain mindful of the finishing touches that make a good job a superior job</p>
                        <small>Jul 18, 2018</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-add"></i> 2000 MP</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="card">
                <div class="container-fluid">
                    <div class="row">
                        <div class=" col-sm-8 col-xs-8">
                            <strong>Recognized by Praveen</strong>
                            <p class="m-b-nil">Your extra effort, dedication, insights and opinions are all extremely valuable to the successful undertakings of this organization.</p>
                            <small>Aug 18, 2018</small>
                        </div>
                        <div class="col-xs-4 text-right">
                            <p class="m-b-nil chart-alternate1"><i class="hpe-icon hpe-add"></i> 2000 MP</p>
                        </div>
                    </div>
                </div>
            </li>
    </ul>
</div>