


<div class="row">
    <div class="col-md-12"><div class="panel panel-default">
        <div class="panel-heading">
           {{listheader}}
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-5 col-xs-5">
                    <div class="input-group date m-nil">
                        <span class="input-group-btn">
                            <button class="btn button-secondary" aria-label="Show Date Picker" (click)="popover.show()">
                                <i class="hpe-icon hpe-calendar" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input type="text" #input #popover="ux-popover"
                            [ngModel]="date | date:'dd MMMM yyyy HH:mm'"
                            [uxPopover]="popoverTemplate"
                            placement="bottom"
                            popoverClass="date-time-picker-popover"
                            class="form-control"
                            aria-label="Selected date"
                            (keydown.enter)="popover.show()">
                    </div>
            
                    <p class="m-t">Selected date is:
                        <em>{{ date | date:'dd MMMM yyyy HH:mm' }} {{ timezone?.name }}</em>
                    </p>
                </div>
                <div class="col-sm-5 col-xs-5">
                    <div class="input-group date m-nil">
                        <span class="input-group-btn">
                            <button class="btn button-secondary" aria-label="Show Date Picker" (click)="popover.show()">
                                <i class="hpe-icon hpe-calendar" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input type="text" #input #popover="ux-popover"
                            [ngModel]="date | date:'dd MMMM yyyy HH:mm'"
                            [uxPopover]="popoverTemplate"
                            placement="bottom"
                            popoverClass="date-time-picker-popover"
                            class="form-control"
                            aria-label="Selected date"
                            (keydown.enter)="popover.show()">
                    </div>
            
                    <p class="m-t">Selected date is:
                        <em>{{ date | date:'dd MMMM yyyy HH:mm' }} {{ timezone?.name }}</em>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <div class="input-group date m-nil">
                        <span class="input-group-btn">
                            <button class="btn button-secondary" aria-label="Show Date Picker" (click)="popover.show()">
                                <i class="hpe-icon  hpe-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>{{fromToColumn}}</th>
                        <th>Micro Pats</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>1</td>
                                <td>23 Feb 2018</td>
                                <td>  Georgia Estelle  </td>
                                <td>200</td>
                            </tr>
                    <tr>
                        <td>2</td>
                        <td>15 Jan 2018</td>
                        <td>  Kirsten Taketa  </td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>1 Jan 2018</td>
                        <td> Loma Laroche </td>
                        <td>200</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div></div>
  </div>